<div class="page-buttom">
    <div class="row">
        <div class="col-sm-4 col-xs-6">
            <h3><i class="fas fa-users"></i> About us;</h3>
            <ul>
                <li><a href="http://facebook.com" target="-blank11"><i class="fab fa-facebook"></i> Facebook</a>
                </li>
                <li><a href="https://www.behance.net/Massi_Gy/" target="-blank10"><i class="fab fa-behance"></i> Behance</a></li>

                <li><a href="https://www.linkedin.com/in/massi-gy-ab074720b/" target="-blank10"><i class="fab fa-linkedin-in"></i> LinkedIn</a></li>

            </ul>
        </div>


        <div class="col-sm-4 col-xs-6">
            <h3><i class="fas fa-bezier-curve"></i> Our refrences;</h3>

            <li><a href="https://www.udemy.com/?utm_source=adwords-brand&utm_medium=udemyads&utm_campaign=Brand-Udemy_la.EN_cc.ROW&utm_term=_._ag_80315195513_._ad_386251995970_._de_c_._dm__._pl__._ti_aud-568228300785:kwd-310556426868_._li_9069695_._pd__._&utm_term=_._pd__._kw_udemy_._&matchtype=e&gclid=CjwKCAjwqdn1BRBREiwAEbZcR6MtWZE-aBrXQyAZ2rKIsi3rQIUOVTwSMZqPJ9b0Ofu_dsoaohsSKRoCiuIQAvD_BwE"
                    target="-blank3"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
                    Udemy</a></li>
            <li><a href="https://www.indeed.com/" target="-blank4"><span class="glyphicon glyphicon-hand-right"
                        aria-hidden="true"></span> Indeed</a></li>
            <li><a href="https://unsplash.com/" target="-blank5"><span class="glyphicon glyphicon-hand-right"
                        aria-hidden="true"></span> Unsplash</a></li>

        </div>


        <div class="col-sm-4 col-xs-6">
            <h3><i class="fab fa-angellist"></i> Help & Rate us!</h3>
            <li><a href="/comingSoon" target="-blank6"><span class="glyphicon glyphicon-euro" aria-hidden="true"></span> Donate us! </a></li>
            <li><a href="/feedbacks/new" target="-blank7"><i class="far fa-comment-alt"></i> Give us your feedback!</a></li>
            <li><a href="/feedbacks" target="-blank8"><i class="fas fa-align-left"></i> Our feedbakcs</a></li>




        </div>








    </div>

</div>