<script type="text/javascript">
    $("#password").password('toggle');
</script>
<script src="https://kit.fontawesome.com/e22278a48c.js" crossorigin="anonymous">
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</body>

</html>