<title>My Project</title>
<%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/assets/home.css">
    </head>
    <!-- /////////////////////////////// -->
    <!-- //////////////////////////// -->

    <body>
        <div class="container">

            <%- include('./partials/navbar.ejs') %>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/home" target=""> <i class="fas fa-house-user"></i> Home</a>
                    </li>

        </div>
        <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
        </nav>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div>
                    <img id="adminImg" src="https://scontent-pmo1-1.xx.fbcdn.net/v/t1.0-9/163959780_1080275279134560_3911875027757197696_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=09cbfe&_nc_eui2=AeHYYrWUMJbNVPkJGRbtrjw25Ou2bxnwbBLk67ZvGfBsEn3TMyyOZ5cRTN2Ho7JRX9EC-TfHyYV3x631rtDJGZKX&_nc_ohc=gcZcxPOBwRAAX-4ctto&_nc_ht=scontent-pmo1-1.xx&oh=87d793c9fcc281e1d3fb6f375ae798e8&oe=607FD86F">
                </div>
            </div>
            <div id="projectDescription" class="col-sm-6 col-xs-12">
                <h3>The Story Of This Website</h3>
                <p>hurraaay ! you've got my secret page ! <br> So yeah hope that your journey in my Website made you happier! , or just did not made you more sad at least ... <br> So you can take this few words as a quick overview of what got me here, let
                    dive into it <br> After some days of the announcement of the sanitary lockdown, and the expenential increase of corona patients; I was kind of stuck in time, nothing to do and no one to see either! <br> Yeah that was hard, but as we
                    say 'Necessity is Mother of Invention' I was in need to have something to learn or pass my time with that will make me happy and more productive. <br> So video after video, website after website, search after an other... Bingo! I finnally
                    got it, Coding is my futur field. <br> I've started with <a href="https://www.codecademy.com" target="_blank">Code Academy</a> website which is completely free and not bad by the way, then my generous friend
                    <a href="https://www.behance.net/afiriazedine?fbclid=IwAR0ExBbetcMYS6RMrO4aljQ8gavbQjyAvDcy-u_GC0B42yKNPzUt2tW5kUY" target="_blank"> Azedine</a>, gave me an <a href="https://www.Udemy.com" target="_blank">Udemy</a> cours about the
                    web developpement. <br> It was like a super nova, in one go I changed my views about coding, algorthims and the web in particular, I learned so many things like : html , css , javaScript, AJAX, APIs , Data Bases and much more!! <br>                    So after some months of learning I decided to make my first project and of course it was a website (small chat application ), cuz yes am learning web developpement what do you want me to do <i class="far fa-smile-wink"></i>
                    <br> So yeah, that was my speech, hope that is less convinient then my website, and at the end I will propably be hated after this but that what I feel ; I feel like the lockdown days were THE BEST IN MY LIFE ! <br> So comment if you
                    liked it, chat with me if you loved it, See you in the next one!

                </p>
                <p id="licenseTerms">
                    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
                </p>

            </div>
        </div>
        <%- include('./partials/bottum.ejs') %>