<title> Coming Soon...</title>
<%- include('./partials/head.ejs') %>

    <link rel="stylesheet" href="assets/errorPage&Signout.css">

    </head>

    <body>
        <div class="container">
            <%- include('./partials/navbar.ejs') %>


                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/home" target=""> <i class="fas fa-house-user"></i> Home</a>
                    </li>



        </div>
        <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
        </nav>

        <div class="alert alert-info" role="alert">
            <h3 class="alert-heading text-center">
                Coming Soon...
            </h3>
            <br>
            <p class="text-center">Somme functionnalities takes more work up front! <br> So, I will get them done as soon as possible! <br>

            </p>
        </div>

        <%- include('./partials/aboutUs.ejs') %>


            <%- include('./partials/bottum.ejs') %>