body {
    padding-top: 70px;
}

.jumbotron {
    text-align: center !important;
    background-image: url(https://res.cloudinary.com/https-res-cloudinary-com-massigy-images/image/upload/v1619879256/CodingForBeginners/photo-1582137490248-c53207ec5602_sf5nhi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

input {
    margin-bottom: 10px;
}

button a {
    color: blanchedalmond;
}

.page-buttom {
    border-top: solid 2px rgba(1, 229, 250, 0.822);
    background-color: rgba(193, 193, 219, 0.548);
    margin-top: 1% !important;
    border-radius: 5% !important;
}

.selects1 {
    margin-bottom: 20px;
}

textarea {
    max-width: 80%;
    max-height: 300px;
}

#viewfeedbacksBtn {
    text-align: center;
}

@media screen and (max-width: 800px) {
    .page-buttom {
        width: 100% !important;
    }
}