body {
    padding-top: 70px;
}

.jumbotron {
    text-align: center !important;
    background-image: url(https://res.cloudinary.com/https-res-cloudinary-com-massigy-images/image/upload/v1619879169/CodingForBeginners/photo-1579600161224-cac5a2971069_m59abr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

input {
    margin-bottom: 10px;
}

#div1 {
    width: 40% !important;
    text-align: center;
    margin-left: 30%;
    margin-top: 10%;
}

#loginBtn {
    margin-top: 10px;
}

#Login-redirect {
    margin-left: 30px;
    text-align: center !important;
}